/*
   =============
    custom font
   =============
*/



/*
   ===============
    global styles
   ===============
*/

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
}

body {
   background-image:url(https://cdn.discordapp.com/attachments/889804199955693569/897793072597958666/Test_background.png);

}

/*
   ===========
    variables
   ===========
*/
:root{
 --clr-mc-1:#F7B61C;
 --clr-mc-2:#4F8ECF;
 --clr-mc-3:#A6CF4F;
 --clr-mc-4:#b54294;

 --gradient: linear-gradient(
    to right,
   #F7B61C,
   #A6CF4F,
   #4F8ECF,
   #b54294
 )
}

/*
   ===================
    typographi styles
   ===================
*/


/*
   ===================
    index.html styles
   ===================
*/

.index__context {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.index__title img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.index__nav {
   list-style-type: none;
   padding: 0;
}

.index__nav li {
   margin: 50px;
}
.index__nav a {
   background-color: white;
   border: black solid 2px;
   border-radius: 50px;

   padding: 10px 60px;
   text-decoration: none;
   font-size: 1.5em;
   color: black;

   display: flex;
   justify-content: center;
}

.index__nav a:hover,
.index__nav a:focus {
   background-color: ghostwhite;
}





/*
   ==================
    game.html styles
   ==================
*/

/*Kan gjøres til en felles class for hver side med pil*/
.game__header {
   margin-top: 15px;
   margin-left: 40px;
   display: flex;
}

.game__main {
   display: flex;
   justify-content: center;
   margin-top:20px;
}

canvas {
   background-color: rgb(7, 6, 34);
}

/*
   ======================
    settings.html styles
   ======================
*/

.settings__content {
   display: grid;
   font-size: 2em;
   grid-template-columns: 2em 1fr 1fr 2em;
   gap: 2em;
   margin-top: 4%;

}
.settings__content h3 {
   color: white;
   padding: 5px 5px;
   position: relative;
   z-index: 1;
 }
 .settings__content h3::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width:100%;
   height:100%;
   background: rgb(0,0,0,0.79);
   z-index: -1;
 }

 .settings__content p {
   color: black;
   background-color: rgb(255,255,255,0.6);
   padding: 5px 5px;
   z-index: 1;
 }


.colum1 {
   grid-column: 2/3;
}
.colum2 {
   grid-column: 3/4;
}





/*
   =====================
    credits.html styles
   =====================
*/

.credits__main {
   display: grid;
   grid-template-columns: 2em 1fr 1fr 1fr 2em;
   font-size: 2em;
}

.credits__title {
   margin-top: 20px;
}

.credits__content{
   grid-column: 2/4;
   margin-top: 50px;

}

.credits__content h3 {
   color: white;
   padding: 5px 5px;
   position: relative;
   z-index: 1;
 }
 .credits__content h3::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width:100%;
   height:100%;
   background: rgb(0,0,0,0.79);
   z-index: -1;
 }

 .credits__content p {
   color: black;
   background-color: rgb(255,255,255,0.6);
   padding: 5px 5px;
   z-index: 1;
 }


/*
   ===================
    about.html styles
   ===================
*/
.about__header {
   margin-top: 15px;
   margin-left: 40px;
   display: flex;
}

.about__main {
   display: grid;
   grid-template-columns: 2em 1fr 1fr 1fr 1fr 1em;
   gap: 2em;
   margin-top: 5%;
   font-size: 2em;

}

.developers {
   display: flex;
   gap: 2em;
}

.developers__title{
   margin-top: -75px;
   margin-bottom: 20px;
}

.developers img {
   max-width: 360px;
   max-height: 200px;
}

.row1,
.row2,
.row3 {
   grid-column: 2/6;

}

.hoyre {
   background: rgb(255,255,255,0.6);
 }

.hoyre h3 {
   color: white;
   padding: 5px 5px;
   position: relative;
   z-index: 1;
 }
 .hoyre h3::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width:100%;
   height:100%;
   background: rgb(0,0,0,0.79);
   z-index: -1;
 }

 .hoyre p {
   color: black;
   padding: 5px 5px;
   z-index: 1;
 }


