/* 
   =============
    custom font
   =============
*/



/* 
   ===============
    global styles
   ===============
*/

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
}

/* 
   ===========
    variables
   ===========
*/
:root{
 --clr-mc-1:#F7B61C;
 --clr-mc-2:#4F8ECF;
 --clr-mc-3:#A6CF4F;
 --clr-mc-4:#b54294;

 --gradient: linear-gradient(
    to right,
   #F7B61C,
   #A6CF4F,
   #4F8ECF,
   #b54294
 )
}

/* 
   ===================
    typographi styles
   ===================
*/


/* 
   ===================
    index.html styles
   ===================
*/

.index__context {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.index__nav {
   list-style-type: none;
   padding: 0;
}

.index__nav li {
 
   margin: 50px;
}
.index__nav a {
   background-color: white;
   border-left: 4px var(--clr-mc-1) solid;
   border-bottom: 4px var(--clr-mc-2) solid;
   border-top: 4px var(--clr-mc-3) solid;
   border-right: 4px var(--clr-mc-4) solid;
   border-radius: 0 50px 50px 0;
   
   padding: 5px 60px;
   text-decoration: none;
   color: black;

   display: flex;
   justify-content: center;  
}

.index__nav a:hover,
.index__nav a:focus {
   background-color: ghostwhite;
}





/* 
   ==================
    game.html styles
   ==================
*/
.game__header {
   margin-top: 15px;
   margin-left: 40px;
   display: flex;
}




.game__nav li {
   margin-right: 100px;
}


.game__main {
   display: flex;
   justify-content: center;

   margin-top:20px;
}

canvas {
   width: 85%;
   background-color: violet;
}

/* 
   ======================
    settings.html styles
   ======================
*/

/* 
   =====================
    credits.html styles
   =====================
*/


/* 
   ===================
    about.html styles
   ===================
*/


.about__main {
   display: grid;
   grid-template-columns: 2em 1fr 1fr 1fr 1fr 1fr 1em;
   gap: 2em;
   margin: 5px;

}

.developers {
   display: flex;
   gap: 2em;
}

.developers img {
   max-width: 360px;
   max-height: 200px;
}

.developers__title {
   grid-column: 2/-1;
   margin-left: 12.6%;
}

.row1,
.row2,
.row3 {
   grid-column: 2/-1;
   
}

